html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
html {
  font-size: 62.5%;
  height: 100%;
}
body {
  line-height: 1;
  overscroll-behavior: contain;
  height: 100%;
  min-height: 100vh;
  background-color: white;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
  word-break: keep-all;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  user-select: none;
}
*,
:after,
:before {
  box-sizing: border-box;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
button {
  background: none;
  border: 0;
  cursor: pointer;
}
a {
  text-decoration: none;
}
/** ------ reset css ------ */

/** ------ 전역변수 ------ */
:root {
  /** Color */
  --L20: #fef0f1;
  --L40: #fcc0c2;
  --L60: #fba7ab;
  --L80: #fa8f94;
  --L100: #f9777d;
  --L200: #f65f66;
  --L300: #f6464e;
  --L400: #f52e36;
  --L500: #f4151f;
  --L600: #e50b14;

  --N20: #f3f5f7;
  --N40: #e9ecef;
  --N60: #dee2e6;
  --N80: #ced4da;
  --N100: #b1b8bd;
  --N200: #939a9f;
  --N300: #757d82;
  --N400: #596065;
  --N500: #3c4348;
  --N600: #212529;

  --Success: #00b500;
  --Warning: #ffb02e;
  --RevBlack: #202020;
  --Silver: #bcc5c7;
  --QSilver: #a7a7a7;
  --LSilver: #d9d9d9;
  --WSmoke: #eeeeee;
  --WWood: #f5f6f8;
  --SWhite: #fafafa;
  --Dimgray: #747474;
  --WGray: #e4e4e4;
  --PGray: #e2e2e2;
  --LGray: #eaedf3;
  --Darkred: #a1080e;
  --Gray01: #606060;
  --Gray02: #555555;
  --Purple: #570be5;
  --LPurple: #f8f4ff;

  /** 폰트굵기 */
  --font-light: 300;
  --font-medium: 500;
  --font-bold: 700;
  --font-extrabold: 800;

  /** 기본 헤딩 크기 */
  --font-h1-size: 2.6rem;
  --font-h2-size: 2rem;
  --font-h3-size: 1.8rem;
  --font-h4-size: 1.6rem;
  --font-h5-size: 1.5rem;

  /** 바디 텍스트 크기 */
  --font-body-size: 1.4rem;
  --caption-size: 1.2rem;
  --caption-small-size: 1rem;

  /** letter-spacing */
  --L-spacing-XL: -0.6px;
  --L-spacing-L: -0.32px;
  --L-spacing-M: -0.09px;
  --L-spacing-S: -0.06px;
  --L-spacing-XS: -0.045px;
}

/** ------ 전역변수 ------ */
html {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -moz-tab-size: 4;
  tab-size: 4;
}

body {
  max-width: 768px;
  min-width: 280px;
  font-family: "SUIT", sans-serif;
  font-weight: var(--font-weight-light);
  color: var(--primary-color);
  font-size: 1.6rem;
  line-height: 1.4;
  word-break: break-all;
  overflow-wrap: break-work;
}
.app-bar,
.bottom-tab-bar {
  max-width: 768px;
  min-width: 280px;
}

@font-face {
  font-family: "SUIT";
  font-weight: 300;
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Light.woff2")
    format("woff2");
}
@font-face {
  font-family: "SUIT";
  font-weight: 500;
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Medium.woff2")
    format("woff2");
}
@font-face {
  font-family: "SUIT";
  font-weight: 700;
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Bold.woff2")
    format("woff2");
}
@font-face {
  font-family: "SUIT";
  font-weight: 800;
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-ExtraBold.woff2")
    format("woff2");
}

/** ------ 헤딩요소 스타일 ------ */
h1 {
  font-size: var(--font-h1-size);
  font-weight: var(--font-extrabold);
  letter-spacing: var(--L-spacing-XL);
  line-height: 1.2;
}
h2 {
  font-size: var(--font-h2-size);
  font-weight: var(--font-extrabold);
  letter-spacing: var(--L-spacing-S);
}
h3 {
  font-size: var(--font-h3-size);
  font-weight: var(--font-bold);
  letter-spacing: var(--L-spacing-M);
}
h4 {
  font-size: var(--font-h4-size);
  font-weight: var(--font-extrabold);
  letter-spacing: var(--L-spacing-L);
}
h5 {
  font-size: var(--font-h5-size);
  font-weight: var(--font-bold);
  letter-spacing: var(--L-spacing-XS);
}

/** ------ 본문요소 스타일 ------ */
p,
span,
a,
button {
  font-size: var(--font-body-size);
  letter-spacing: var(--L-spacing-S);
}

ul li::marker {
  font-size: var(--caption-small-size);
}
input::placeholder {
  font-size: var(--font-body-size);
  font-weight: var(--font-light);
  letter-spacing: 0;
  color: var(--N200);
}
input:focus::placeholder {
  opacity: 0;
}
.textfield input:focus {
  border: 0.1rem solid var(--N600);
  outline: none;
}

textarea {
  font-weight: var(--font-light);
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

/** 모바일 작은해상도 */
@media (max-width: 374px) {
  html {
    font-size: 53%;
  }
}

/** 태블릿 */
@media (min-width: 768px) {
  html {
    font-size: 75%;
  }
}
